@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --white: #fff;
    --black: #242424;
    --gray: #5f5d5d;
    --lt-gray: #dfdfdf;
    --green: #63E790;
    --red: #EB6565;
}
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 430px;
    height: 330px;
    padding: 24px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
}
h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: var(--gray);
}
.mainButton {
    background-color: var(--green);
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    width: 200px;
    border: none;
    height: 40px;
    position: relative;
}
.mainButton:after {
    position: absolute;
    top: 15%;
    right: 0;
    width: 1px;
    height: 70%;
    content: "";
    background-color: var(--white);
}
.button-flex {
    display: flex;
    height: 40px;
    margin: 20px 0;
    position: relative;
}
.info-icon-cont {
    background-color: var(--green);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--white);
    font-size: 26px;
}
.additional-info {
    display: none;
    position: absolute;
    background-color: var(--lt-gray);
    max-width: 225px;
    top: -45px;
    right: 6px;
    padding: 6px;
    user-select: none;
}
.info-icon-cont:hover + .additional-info,  
.info-icon-cont span:hover + .additional-info,
.additional-info:hover {
    display: block;
}
.back-arrow {
    width: 40px;
    height: 40px;
    background: url('./assets/arrow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--black);
    position: absolute;
    top: 26px;
    left: 20px;
    cursor: pointer;
}

#loading {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#linkSuccess {
    display: none;
}
#linkError {
    display:none;
}
.lightGrey {
    font-weight: 700;
    font-size: 32px;
    color: var(--gray);
}
.greenText {
    font-weight: 500;
    font-size: 26px;
    color: var(--green);
}
.redText {
    font-weight: 500;
    font-size: 26px;
    color: var(--red);
}
#imageSuccess {
    display: none;
}
#imageError {
    display: none;
}

#loadingIcon {
    width: 80px;
    animation: spin 2s infinite linear;
    transform: scale(300%);
    filter: invert(75%) sepia(39%) saturate(548%) hue-rotate(86deg) brightness(99%) contrast(91%);
}
#insertBlinks{
    padding-top: 20px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}